<!DOCTYPE html>
<html>
  <head>
    <title>OneTouchBnB</title>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3CA38LoEw1DTaWiuoskmhTYy_b8jVKuw">
     </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://widget.cloudinary.com/global/all.js"
    type="text/javascript"></script>
    <script type="text/javascript">
      window.cloudinary_options = {
        cloud_name: '<%= ENV["CLOUD_NAME"] %>',
        upload_preset: '<%= ENV["UPLOAD_PRESET"]%>'
      };
    </script>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <div id = "partition"></div>
    <div id = "foot">
      <div id = "foot_name" height="30">
        <p>Developed by <b>Priya Mangal</b></p>
      </div>
      <div id = "foot_links">
        <Link to="https://www.linkedin.com/in/priyamangal">
          <img src="li.png" alt="li" height="30" width="30"/>
        </Link>
        <Link to="https://github.com/Priya67">
          <img src="github.png" alt="github" height="30" width="30"/>
        </Link>
      </div>
    </div>
  </footer>
</html>
